/* ====================
    Reset CSS
==================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');

:root {
    --geral-color: #2e3057;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,  body {
    height: 100%;
}

body {
    background-color: rgb(212, 235, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* ====================
    configurações gerais
==================== */

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--geral-color);
}

header, footer {
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    flex: 1;
}

header {
    background: linear-gradient(to bottom, var(--geral-color), #00000000);
    height: 10em;
    width: 100%;
}

header h1 {
    font-size: 3.2em;
}

footer {
    background: linear-gradient(to top, var(--geral-color), #00000000);
    height: 10em;
}

footer p {
    margin-top: 5rem;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

/* ====================
    Formulário (conteudo principal)
==================== */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--geral-color);
}

section {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 1em;
    box-shadow: 2px 2px 20px rgba(6, 14, 85, 0.505);
    width: 400px;  
    height: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}
form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

form div label {
    margin: 0.2rem;
    font-weight: bolder;
}

input.data-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 3em;
    width: 5em;
    text-align: center;
    margin: auto;
}

input.botao-calcular {
    padding: 0.7rem;
    background-color: var(--geral-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 1rem;
}

div.resultado {
    margin-top: 1rem;
    padding: 2rem;
    background-color: #ededed;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    text-align: center;
    
}







