/* ====================
    Reset CSS
==================== */

:root {
    --geral-color: linear-gradient(45deg, rgb(226, 169, 64), rgb(195, 0, 195));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,  body {
    background: var(--geral-color);
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

/* ====================
    configurações gerais
==================== */


header, footer {
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    flex: 1;
}

header {
    width: 100%;
}


footer {
    margin-top: 1em;
    height: 10em;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}


/* ====================
    Formulário (conteudo principal)
==================== */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--geral-color);
}

section {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: justify;
    border-radius: 1em;
    box-shadow: 2px 2px 20px rgba(6, 14, 85, 0.505);
    width: 400px;  
    height: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

section a {
    text-decoration: none;
    color: var(--geral-color);
    font-weight: bolder;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

form div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form div label {
    margin: 0.2rem;
    font-weight: bolder;
}

input.data-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 3em;
    width: 5em;
    text-align: center;
    margin: auto;
}

input#calcular {
    padding: 0.7rem;
    background: var(--geral-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 1rem;
}

div#resultado {
    margin-top: 1rem;
    padding: 2rem;
    background-color: #ededed;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    
}

/* ====================
    Home
==================== */

main a {
    background-color: white;
    display: block;
    margin: 2em;
    padding: 1rem;
    border-radius: 2em;
    width: 10em;
    text-align: center;
    text-decoration: none;
    color:  black;
    box-shadow: 2px 2px 20px rgba(6, 14, 85, 0.505)
}   

main div#link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    ;
}






